.photodiv{
    /* max-width:450px; */
    height:300px;
    position: block;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}
.photodiv .img_grid{
    align-self: center;
}
.photodiv img{
    max-width:90%;
    max-height:90%;
}